.section {
  background-color: mediumseagreen;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}

.page {
  width: 402px;
  margin: 0 auto;
}

span {
  font-size: 30px;
  color: crimson;
  font-weight: 800
}