.section {
  background-color: #799c00;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}

.page {
  width: 402px;
  margin: 0 auto;
}


span {
  font-size: 30px;
  color: red;
  font-weight: 800;
  -webkit-text-stroke: 1px white;
  font-family: Comic Sans MS, Comic Sans sans-serif;
}

.START{
  position: absolute;
}
