.authorisation{
  margin: 15% auto;
  position: absolute;
}

.input{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error{
  position: absolute;
  color: red;
  margin-top: 20%;
  font-size: 22px;
  -webkit-text-stroke: 0.2px black;
}

.placeholder {
  border-radius: 25px;
  height: 50px;
  width: 150%;
  font-size: 22px;
  text-align: center;
  color: brown;
  border: 2px solid burlywood;
  font-family: Bradley Hand, cursive
}

button:disabled { background: burlywood; }

.submit{
  margin-top: 45%;
  width: 110px;
  height: 45px;
  border-radius: 44px;
  border: 3px solid white;
  color: white;
  font-size: 22px;
  cursor: pointer;
  margin-left: 33.2%;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-weight: 700;
  box-shadow: 1px 2px 2px 2px chocolate;
  background: chocolate;
}

@media (max-width: 480px) {

  .placeholder {
    height: 30px;
    font-size: 18px;
    text-align: center;
    width: 130%;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50%;
  }

  .submit{
    margin-top: 20%;
    width: 80px;
    height: 40px;
    border-radius: 44px;
    font-size: 16px;
  }

  .authorisation{
    margin: 100px auto 0 auto;
    position: fixed;
  }

  .error{
    font-size: 16px;
    margin-top: 69%;
    margin-right: 0;
  }
}
