.authorisation{
  margin: 76px auto;
  margin-left: 55%;
}

.input{
  padding-top: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error{
  position: absolute;
  color: red;
  margin-top: 2%;
}

.placeholder {
  border-radius: 15px;
  height: 25px;
  width: 100%;
  font-size: 16px;
  text-align: center;
  color: brown;
  border: 2px solid burlywood;
  font-family: Bradley Hand, cursive
}

button:disabled { background: burlywood; }

.submit{
  margin-top: 45%;
  width: 100px;
  height: 40px;
  border-radius: 44px;
  border: 3px solid white;
  color: white;
  font-size: 17px;
  background: chocolate;
  cursor: pointer;
  margin-left: 24.2%;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-weight: 700;
  box-shadow: 1px 2px 2px 2px chocolate;
}
