.authorisation{
  margin: 76px auto;
  margin-left: 55%;
}

.input{
  padding-top: 40%;
  text-align: center;
}

.field{
  position: absolute;
  //margin: auto;
  //top: 0; left: 0; bottom: 0; right: 0;
}

.placeholder {
  border-radius: 15px;
  height: 25px;
  width: 100%;
  font-size: 16px;
  text-align: center;
  color: brown;
  border: 2px solid burlywood
}

.error{
  position: absolute;
}

.btn{
  padding-top: 45%;
  margin-left: 14%;
}

button:disabled { background: burlywood; }

.submit{
  width: 100px;
  height: 40px;
  border-radius: 44px;
  border: 3px solid white;
  color: white;
  font-size: 16px;
  background: chocolate;
  cursor: pointer;
  margin-left: 15%;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-weight: 600;
  box-shadow: 1px 2px 2px 2px chocolate;
}
