h1{
  text-align: center;
}

.game-area{
  position: relative;
  margin: 15px auto;
  border: 2px solid red;
}

.STOP, .START {
  color: white;
  border: 0;
  width: 60px;
  height: 35px;
  border-radius: 140px;
  font-size: 15px;
  cursor: pointer;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
}

.START{
  background: green;
}

.STOP{
  background: red;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 17px;
  font-family: 'Trispace', sans-serif;
  margin-top: 30px;

}

a{
  text-decoration: none;
  margin:35px;
}

a:hover{
  color: red
}
