*{
  margin:0;
  padding: 0;
}

.background{
  background: url('../../assets/background-5.png') no-repeat center black;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

h2{
  text-align: center;
}

.game-area{
  position: relative;
  margin: 15px auto;
  border: 2px solid #af0707;
  box-shadow: 1px 1px 15px 1px rgba(5,0,26);
  background-image: url('../../assets/snakeField.png');
}

.STOP, .START {
  color: white;
  border: 0;
  width: 60px;
  height: 35px;
  border-radius: 140px;
  font-size: 15px;
  cursor: pointer;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
}

.START{
  background: green;
}

.STOP{
  background: red;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 17px;
  font-family: 'Trispace', sans-serif;
  margin-top: 30px;
  margin-left: 19%;
  color: white;

}

a{
  text-decoration: none;
  margin:35px;
  color: white;
}

a:hover{
  color: red
}
