*{
  margin:0;
  padding: 0;
}

body{
  height: 100%;
}

.background{
  background: url('../../assets/background_2.jpg') #799c00 no-repeat right bottom;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

h2{
  text-align: center;
  color: darkred;
  letter-spacing: 1.2px;
  font-family: sans-serif;
}

.game-area{
  position: relative;
  margin: 15px auto;
  border: 2px solid #af0707;
  box-shadow: 1px 1px 15px 2px rgba(5,0,26);
  background-image: url('../../assets/snakeField.png');
  width: 400px;
  height: 400px;
}

.STOP, .START {
  color: white;
  border: 0;
  width: 65px;
  height: 40px;
  border-radius: 140px;
  font-size: 15px;
  cursor: pointer;
  margin: 19% auto;
  align-items: center;
  display: flex;
  justify-content: center;
}

.START{
  background: green;
}

.STOP{
  background: red;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 19px;
  font-family: 'Trispace', sans-serif;
  margin-top: auto;
  margin-left: 0.5%;
  color: white;

}

a{
  text-decoration: none;
  margin:35px;
  color: white;
}

a:hover{
  color: chocolate;
  -webkit-text-stroke: 0.15px black;
}

@media (max-width: 339px){

  .game-area{
    width: 310px;
    height: 310px;
  }
}

@media (min-width: 339px) and (max-width: 359px){

  .game-area{
    width: 335px;
    height: 335px;
  }
}

@media (min-width: 359px) and (max-width: 379px){

  .game-area{
    width: 351px;
    height: 351px;
  }
}

@media (min-width: 379px) and (max-width: 399px){
  .game-area{
    width: 370px;
    height: 370px;
  }
}

@media (min-width: 399px) and (max-width: 419px){
  .game-area{
    width: 390px;
    height: 390px;
  }
}


@media (max-width: 480px) {

  .background{
    background: url('../../assets/background_2.jpg') no-repeat right 0 bottom 0 #799c00;
  }

  .footer{
    display: none;
  }
}