
.game-area{
  position: relative;
  margin: 15px auto;
  border: 2px solid red;
}

.snake-dot{
  position: absolute;
  width: 4%;
  height: 4%;
  background: black;
  border: 1px solid white;
  z-index: 2;
}

.snake-food{
  z-index: 1;
  position: absolute;
  width: 6%;
  height: 6%;
}

.start{
  display: flex;
  justify-content: center;
}

.stop, .start {
  margin-left: 25px;
  background: red;
  color: white;
  border: 0;
  width: 60px;
  height: 35px;
  border-radius: 140px;
  font-size: 15px;
  cursor: pointer;
}

.start{
  background: green;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 17px;
  font-family: 'Trispace', sans-serif;
  margin-top: 30px;

}

.footer-github{
  text-decoration: none;
  margin:35px;
}

.footer-github:hover{
  color: red
}
