
.game-area{
  position: relative;
  margin: 50px auto;
  border: 2px solid red;
}

.snake-dot{
  position: absolute;
  width: 4%;
  height: 4%;
  background: black;
  border: 1px solid white;
  z-index: 2;
}

.snake-food{
  z-index: 1;
  position: absolute;
  width: 4%;
  height: 4%;
  background: red;
  border: 1px solid white;
}
