
.game-area{
  position: relative;
  margin: 30px auto;
  border: 2px solid red;
}

.snake-dot{
  position: absolute;
  width: 4%;
  height: 4%;
  background: black;
  border: 1px solid white;
  z-index: 2;
}

.snake-food{
  z-index: 1;
  position: absolute;
  width: 4%;
  height: 4%;
  background: red;
  box-shadow: 0 0 5px #730bd3;
  animation: food 1s ease 0.2s infinite;
}

@keyframes food {
  25%{
    box-shadow: 0 0 10px blueviolet;
  }
  50%{
    box-shadow: 0 0 5px blueviolet;
  }
  75%{
    box-shadow: 0 0 10px blueviolet;
  }
  100%{
    box-shadow: 0 0 5px blueviolet;
  }
}

.footer{
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 17px;
  font-family: 'Trispace', sans-serif;
}

.footer-github{
  text-decoration: none;
  margin:35px;
}

.footer-github:hover{
  color: red
}
